{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Agregar Seguimiento al Pedido</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Agregar Seguimiento</button>
  </form>
  <p><a href="{% url 'detalle_pedido' pedido.codigo %}">Volver al detalle del pedido</a></p>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
